# Core Framework
Flask==2.2.5
Flask-Cors==5.0.0
Flask-Migrate==4.0.5
Flask-Session==0.6.0
Flask-SQLAlchemy==3.1.1
flask-marshmallow==1.3.0
flask_login==0.6.3

# Serialization & ORM
marshmallow==3.24.2
marshmallow-sqlalchemy==1.1.1
mysql-connector-python==9.1.0
SQLAlchemy>=1.4,<2.1

# Auth
Authlib==1.5.2
oauthlib==3.2.2
requests-oauthlib==1.3.1
requests==2.31.0

# Background Tools
redis==5.0.4
gunicorn==21.2.0
python-dotenv==1.0.1
blinker==1.9.0

# Utility & Core Dependencies
click==8.1.8
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
typing_extensions==4.12.2
packaging==24.2

# Testing
pytest==8.2.1
pytest-flask==1.3.0

# Cryptography (needed by authlib, esp. for JWT and OpenID)
cryptography>=41.0.7
cffi>=1.15.1
