Authlib==1.5.2
blinker==1.9.0
click==8.1.8
Flask==2.2.5
Flask-Cors==5.0.0
Flask-Migrate==4.0.5
Flask-Session==0.6.0
Flask-SQLAlchemy==3.1.1
flask-marshmallow==1.3.0
flask_login==0.6.3
gunicorn==21.2.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
marshmallow==3.24.2
marshmallow-sqlalchemy==1.1.1
mysql-connector-python==9.1.0
oauthlib==3.2.2
packaging==24.2
pytest-flask==1.3.0
python-dotenv==1.0.1
redis==5.0.4
requests==2.31.0
requests-oauthlib==1.3.1
typing_extensions==4.12.2
Werkzeug==2.3.8
